body {
	text-align: center;
	font-family: "Helvetica";
}

#header {
	font-size: 20;
	padding: 0; 
	margin: 10;
}

#main {
	position: relative;
	margin: 20;
}

#img_upload {
}

#picture {
	border: 2px solid black;
	width: 710px;	
	height: 300px;
	margin: auto;
}
