body {
	text-align: center;
	font-family: "Helvetica";
	background-color: white;
	color: black;
}

#header {
	display: inline-block;
	font-size: 24px;
	padding: 0; 
	margin: 10;
	transition: 0.3s;
	transition-property: color;
	transition-timing-function: ease-in-out;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#header:hover {
	color: grey;
}

#main {
	position: relative;
	margin: 20;
}

#picture {
	border: 2px solid white;
	width: 710px;	
	height: 300px;
	margin: auto;
}

.colorfield {
	width: calc(100% / 3); 
	height: inherit;
	margin: auto;
	position: relative;
	display: inline-block;
	transition-property: background-color;
	transition-duration: 1s;
}

.colorgen {
	background-color: white;
	border: none;
	padding: 6px 6px;
	display: inline-block;
	transition-duration: 0.6s;
}

.colorgen:hover {
	cursor: pointer;
	scale: 1.1;
	transition-property: scale;
}