body {
	text-align: center;
	font-family: "Helvetica";
	background-color: white;
	color: black;
}

#header {
	display: inline-block;
	font-size: 24;
	padding: 0; 
	margin: 10;
	transition: 0.5s;
	transition-timing-function: ease-in-out;
}

#header:hover {
	text-shadow: 0px 12px grey;
	transition-property: text-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#main {
	position: relative;
	margin: 20;
}

#picture {
	border: 2px solid white;
	width: 710px;	
	height: 300px;
	margin: auto;
}

.colorfield {
	width: calc(100% / 3); 
	height: inherit;
	margin: auto;
	position: relative;
	display: inline-block;
	transition-property: background-color;
	transition-duration: 1s;
}